---
layout: default
title: Region Example
label: Main Page
---

{% t regions %}
{% t no_translation %}
<hr>
{% region region1 %}
{% region region2 %}

<hr>

<h1>Sample Posts:</h1>
{% for post in site.data._models.posts | sort: 'created_at' %}
  <h2>{{ post.title }}</h2>
  author: {{ post.author.name }}
  | created: {{ post.created_at | date_to_rfc822 }}
{% endfor %}

<a href='{{ '/events' | permalink }}'>Events test link</a>
<br>
<a href='{{ '/test_i18n' | permalink }}'>i18n test link</a>
<br>
<a href='{{ 'event1' | permalink: data_dir: 'events' }}'>test var</a>
<br>
<a href='{{ '/events' | permalink: locale: 'ru' }}'>RU Events test link</a>
<br>
<a href='{{ 'event1' | permalink: data_dir: 'events', locale: 'ru' }}'>test ru var</a>
<br>
<a href='{{ page | permalink: locale: 'ru' }}'>RUSSIAN</a>

<hr>

<h1>Sample Books:</h1>
{% for book in site.data._models.books | sort: "created_at" %}
  <h2>{{ book.title }}</h2>
  author: {{ book.writer.name }}
  | created: {{ book.created_at | date_to_long_string }}
{% endfor %}


